body {
  background-color: #f8b5b5;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.topBar {
  background-color: #f8b5b5;
}

.img-info-section {
  display: flex;
  padding: 0;
}


.img-section {
  background-color: #6fab9e;
  margin: 0;
  flex:70%;
  padding: 50px;
}

.img-container{
  padding:0;
}

.img-section img {
  width:100%;
  margin: 0;
}

.info-section {
  background-color: #f8b5b5;
  display: flex;
  flex:30%;
  flex-direction: column;
  justify-content: center;
}

.info-section div {
  margin-left: 20px;
  width: 80%;
  text-align: left;
}

.info-section .title {
  font-weight: bold;
  font-size: 1.2rem;
}

table {
  margin-left: 20px;
  margin-top: 15px;
}

td {
  text-align: left;
}

button {
  margin-top: 20px;
  font-size: 1.5rem;
  background-color: #f8b5b5;
  border: none;
}

.rec-section {
  background-color: #f8b5b5;
  padding: 100px 20px;
}

.rec-imgs {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  overflow:hidden;
}

.rec-img-container {
  height: 200px;
  display: inline-block;
}

.rec-img-container img {
  height: 100%;
}
