/* Top navbar */
.TopNavbar {
  height: 50px;
  background-color: #fce373;
}

.TopNavbar .home {
  display: inline;
  position: relative;
  top: 20px;
  font-size: 1.2rem;
  style:bold;
}

.TopNavbar .link {
  color: #231f20;
}

.TopNavbar .login {
  display: inline;
  position: absolute;
  top: 20px;
  right:30px;
}
